.HexDump {
    font-family: Consolas, 'Courier New', monospace;;
    text-align: left;
    cursor: default;
}

.HexDump>div{
    margin: 5px 0;
}

.HexDump span {
    padding: 5px;
}

.HexDump-header {
    color: #22367d;
    font-weight: bold;
}

.HexDump-col-header {
    color: #237893;
}

.HexDump span:hover {
    background-color: #f3f9ff;
}